:root {
  --body-clr: #274C5B;
  --primary-clr: #7EB693;
  --secondary-clr: #FFA858;
  --font-family-primary: 'Roboto', sans-serif;
  --font-family-secondary: 'Yellowtail', sans-serif;
  --white-clr: #FFFFFF;
  --grey-1-clr: #F7F7F7;
  --grey-2-clr: #F1F1F1;
  --grey-3-clr: #D4D4D4;
  --grey-4-clr: #B8B8B8;
  --grey-5-clr: #525C60;
}

.container{
  font-family: 'Roboto', sans-serif;
}
.navbar{
  display: flex;    
  width: 100%; 
  height: 152px; 
  justify-content: center; 
  align-items: center; 
  gap: 654px; 
  display: inline-flex;
}
.logo{
  
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: 40px;
}
.navbar__menu{
  margin-right: 40px;
}
.navbar__items{
  width: 100%; 
  height: 100%; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 40px; 
  display: inline-flex;
  text-decoration: none;
  color: var(--body-clr);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.36px;
  word-wrap: break-word;
  list-style-type: none;
}
.welcome__img{
  width: 100%;
  height: 100%;
  z-index: 3 ;
}
.text__img{
  position: relative;
  bottom: 724px;
  left: 40px;
  z-index: 4  ;

}

.text-heading-1 {
  color: var(--body-clr);
  font-size: 70px;
  font-family: var(--font-family-primary);
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.36px;
} 

.text-heading-2{
  color: var(--body-clr);
  font-size: 48px;
  font-family: var(--font-family-primary);
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.36px;
}
.text-heading-3 {
  color: var(--body-clr);
  font-size: 40px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.36px;
}
.text-heading-3-1 {
  color: var(--white-clr);
  font-size: 40px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.36px;
}
.text-heading-4{
  color: var(--body-clr);
  font-size: 30px;
  font-family: var(--font-family-primary);
  font-weight: 700;
  line-height: 32px;
}
.display-text{
  color: var(--primary-clr);  
  font-size: 36px;
  font-family: var(--font-family-secondary);
  font-weight: 400;
  text-transform: capitalize;
  line-height: 64px;
  letter-spacing: 0.36px;
}
.display-text-1{
  color: var(--white-clr);  
  font-size: 36px;
  font-family: var(--font-family-secondary);
  font-weight: 400;
  text-transform: capitalize;
  line-height: 64px;
  letter-spacing: 0.36px;
}
.subtitle-text-1{
  color: var(--body-clr);
  font-size: 22px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.36px;
  word-wrap: break-word;
}
.subtitle-text-2{
  color: var(--body-clr);
  font-size: 24px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.36px;
  word-wrap: break-word;
}
.subtitle-text-3{
  color: var(--body-clr);
  font-size: 24px;
  font-family: var(--font-family-primary);
  font-weight: 700;
  text-transform: capitalize;
  line-height: 32px;
  letter-spacing: 0.36px;
  word-wrap: break-word;
}
.subtitle-text-4{
  color: var(--body-clr);
  font-size: 26px;
  font-family: var(--font-family-primary);
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.36px;
  word-wrap: break-word;
} 
.body-text-1{
  color: var(--body-clr);
  font-size: 18px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.36px;
  word-wrap: break-word
}
.body-text-2{
  color: var(--body-clr);
  font-size: 20px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.36px;
  word-wrap: break-word
}
.body-text-3{
  color: var(--body-clr);
  font-size: 20px;
  font-family: var(--font-family-primary);
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.36px;
  word-wrap: break-word
}
.label-text-1{
  color: var(--body-clr);
  font-size: 14px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.36px;
  word-wrap: break-word;
}
.label-text-2{
  color: var(--body-clr);
  font-size: 16px;
  font-family: var(--font-family-primary);
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.36px;
  word-wrap: break-word;
}
.welcome-wrapper{
  width: 496px;
  position: absolute;
  bottom:50px;
  margin-left: 40px;
}
.welcome-btn{
  position: relative ;
  top: 36px;
  width: 223px;
  height: 80px;
  border-radius: 10px;
  background-color: var(--secondary-clr);
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  padding-left: 24px;

}
.photo-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px ;
  padding-top: 96px;
}
.photo-wrapper-item{
  width: 664px;
  height: 384px;
  border-radius: 30px;
}
.btn-component{
  margin-left: 24px;
}
.text-position{
  position: relative;
  width: 260px;
  height: 10px;
  top: -350px;
  left: 30px;
}
.about-us{
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 31px;
  background-color: var(--grey-1-clr)
}
.about-us-img{
  width: 864px;
  height: 848px;
  margin-left: 80px;
}
.about-us-heading{
  width: 552px;
  height: 112px;
}
.about-us-body{
  width: 665px;
  height: 96px;
}
.about-us-wrapper{
  margin-bottom: 56px;
}
.about-us-text{
  width: 548px;
  margin-left: 20px;
}
.white-bg{
  margin-top: 25px;
  width: 96px;
  height: 96px;
  background-color: var(--white-clr);
  border-radius: 10px;
}
.about-us-content{
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}
.about-us-img-1{
  position: relative;
  top: 20px;
  left: 25px;
  width: 48px;
  height: 48px;
}
.shop-now{
  width: 201px;
  height: 80px;
  background-color: var(--body-clr);
  border-radius: 10px;
  color: var(--white-clr);
  font-size: 20px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  line-height: 32px;
}