@import "./styles/variables";
@import "./styles/utils";

body {
  font-family: "Roboto", sans-serif;
}

.org-navbar {
  width: 100%;
  height: 152px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    padding: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }

  &__items {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    display: inline-flex;
    text-decoration: none;
    color: var(--body-clr);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.36px;
    word-wrap: break-word;
    list-style-type: none;
  }
}

.org-welcome {
  position: relative;
  padding: 160px 0;

  &__wrapper {
    max-width: 496px;
    position: relative;
    margin-left: 40px;
  }

  &__btn {
    position: relative;
    top: 36px;
    width: 223px;
    height: 80px;
    border-radius: 10px;
    background-color: var(--secondary-clr);
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding-left: 24px;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__btn-component {
    margin-left: 24px;
  }
}

.org-photo {
  position: relative;

  &__content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 31px;
    padding: 96px 40px;
  }

  &__img {
    border-radius: 30px;
  }

  &__text-wrapper {
    max-width: 260px;
  }

  &__content {
    position: absolute;
    padding-left: 64px;
    top: 200px;
  }
}

.org-about-us {
  background-color: var(--grey-1-clr);

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 31px;
  }

  &__img {
    max-width: 864px;
    height: 848px;
  }

  &__heading {
    max-width: 552px;
  }

  &__body {
    max-width: 665px;
  }

  &__text {
    max-width: 548px;
    padding-left: 31px;
  }

  &__white-bg {
    margin-top: 25px;
    min-width: 96px;
    height: 96px;
    background-color: var(--white-clr);
    border-radius: 10px;
  }

  &__content-info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 56px;
  }

  &__img-1 {
    position: relative;
    top: 20px;
    left: 25px;
    width: 48px;
    height: 48px;
  }

  &__shop-now {
    width: 201px;
    height: 80px;
    background-color: var(--body-clr);
    border-radius: 10px;
    color: var(--white-clr);
    font-size: 20px;
    font-family: var(--font-family-primary);
    font-weight: 400;
    line-height: 32px;
    margin-top: 56px;
    margin-bottom: 80px;
  }

  &__btn-component {
    margin-left: 24px;
  }
}

.org-products {
  padding-top: 96px;
  padding-bottom: 96px;

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 40px;
    justify-content: center;
  }

  &__card {
    width: 100%;
    max-width: 432px;
    box-sizing: border-box;
    aspect-ratio: 432 / 592;
    padding: 32px 32px;
    background-color: var(--grey-1-clr);
    border-radius: 10px;
  }

  &__card-label {
    display: flex;
    width: 124px;
    height: 40px;
    background-color: var(--body-clr);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  &__card-img {
    justify-content: center;
    width: 100%;

    margin-bottom: 16px;
  }

  &__card-info {
    display: flex;
    gap: 45px;
  }

  &__card-info-wrapper {
    display: flex;
    gap: 8px;
  }

  &__card-line {
    width: 100%;
    border: 1px solid var(--grey-4-clr);
    margin: 16px 0;
  }

  &__card-info-stars {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    gap: 4px;
  }
}

.review {
  position: relative;
  background-color: #fcfcfc;
  height: 100%;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    filter: blur(); //media
  }

  &__text-position {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
  }

  &__text-center {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  &__img-position {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
  }

  &__customer-img {
    border-radius: 100%;
  }

  &__stars {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding-top: 16px;
    gap: 8px;
  }

  &__lower-text {
    position: relative;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__lower-text-position {
    max-width: 896px;
  }

  &__costumer-info {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 170px;
    gap: 8px;
  }
}

.offer {
  background-color: var(--body-clr);

  &__intro-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
  }

  &__intro-btn {
    padding-top: 40px;
    padding-right: 40px;
  }

  &__btn {
    background-color: var(--secondary-clr);
    width: 269px;
    height: 80px;
    border-radius: 16px;
    color: var(--body-clr);

    word-wrap: break-word;
  }

  &__btn-element {
    padding-left: 24px;
  }

  &__card-wrapper {
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 40px;
    justify-content: center;
    padding-bottom: 80px;
  }

  &__card {
    width: 100%;
    max-width: 432px;
    box-sizing: border-box;
    aspect-ratio: 432 / 592;
    padding: 32px 32px;
    background-color: var(--grey-1-clr);
    border-radius: 10px;
  }

  &__card-label {
    display: flex;
    width: 124px;
    height: 40px;
    background-color: var(--body-clr);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  &__card-img {
    justify-content: center;
    width: 100%;

    margin-bottom: 16px;
  }

  &__card-info {
    display: flex;
    gap: 45px;
  }

  &__card-info-wrapper {
    display: flex;
    gap: 8px;
  }

  &__card-line {
    width: 100%;
    border: 1px solid var(--grey-4-clr);
    margin: 16px 0;
  }

  &__card-info-stars {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: center;

    gap: 4px;
  }
}

.eco-friendly {
  position: relative;
  padding: 58px 0px;
  height: 712px;

  &__wrapper {
    display: flex;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-figure {
      width: 57%;
      height: 100%;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    top: 0px;
    left: 275px;
    max-width: 712px;
    height: 600px;
    border-radius: 32px;
    overflow: hidden;
    background-color: white;
    padding-top: 36px;
    padding-left: 48px;
    padding-bottom: 68px;
    padding-right: 48px;
    box-shadow: 16px 24px 52px -8px rgba(0, 0, 0, 0.15);
  }
  &__content-intro {
    padding-bottom: 55px;
  }
  &__content-item {
    padding-bottom: 13px;
  }
}

.cards {
  background-color: var(--grey-1-clr);
  padding: 80px 40px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  &__item {
    max-width: 432px;
    max-height: 584px;
  }

  &__img {
    border-radius: 32px;
    overflow: hidden;
  }

  &__bg {
    background: linear-gradient(180deg, rgba(1.06, 1.06, 1.06, 0) 0%, rgba(1.06, 1.06, 1.06, 0.74) 100%);
  }

  &__label {
    position: relative;
    top: -150px;
    background-color: white;
    max-width: 320px;
    height: 96px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
  }
}

.news {
  &__intro {
    padding-top: 96px;

    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__intro-btn {
    width: 212px;
    height: 80px;
    border-radius: 16px;
    background-color: white;
    gap: 24px;
  }

  &__btn-element {
    padding-left: 24px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex: 1;
    gap: 31px;
  }

  &__content {
    padding-bottom: 153px;
  }

  &__content-bg {
    aspect-ratio: 665/515;
  }

  &__content-bg-img {
    // width: 100%;
    // height: 100%;
    object-fit: cover;
    border-radius: 32px;
  }

  &__block {
    position: absolute;
    top: 31px;
    padding-left: 24px;
  }

  &__block-circle {
    padding-bottom: 141px;
  }

  &__circle {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__block-content {
    background-color: #ffffff;
    padding-left: 48px;
    border-radius: 30px;
    width: 617px;
    height: 320px;
    box-shadow: 16px 24px 52px -8px rgba(0, 0, 0, 0.15);
  }

  &__block-content-user {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 20px;
  }

  &__user {
    width: 24px;
    height: 24px;
  }

  &__block-content-text {
    display: flex;
    flex-direction: column;
    column-gap: 16px;
    padding-right: 54px;
    padding-bottom: 24px;
  }

  &__block-content-btn {
    padding-bottom: 56px;
  }

  &__block-btn {
    background-color: #ffffff;
    border: 0px;
  }
}

.outro {
  position: relative;
  padding: 0px 40px;

  &__bg-img {
    position: absolute;
    left: 273px;
    border-radius: 32px;
    overflow: hidden;
    z-index: -1;

    object-fit: cover;
  }

  &__content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 105px 80px;
  }

  &__content-title {
    max-width: 512px;
  }

  &__content-interaction {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }

  &__input {
    width: 407px;
    height: 80px;
    border-radius: 16px;
    border: 0px;
  }

  &__btn {
    width: 199px;
    height: 80px;
    border-radius: 16px;
    background-color: var(--body-clr);
    justify-content: center;
    align-items: center;
    color: white;
  }
}

.footer {
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: right;
    max-width: 316px;
    text-align: end;
    padding-right: 48px;
  }

  &__contact-heading {
    padding-bottom: 48px;
  }

  &__contact-mail {
    padding-bottom: 32px;
  }

  &__contact-phone {
    padding-bottom: 32px;
  }

  &__contact-adress {
    padding-bottom: 32px;
  }

  &__organik {
    padding: 0px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid var(--grey-3-clr);
    border-right: 1px solid var(--grey-3-clr);
  }

  &__organik-logo {
    padding-top: 32px;
    padding-bottom: 40px;
  }

  &__organik-text {
    max-width: 567px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__social {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 64px;
  }

  &__circle {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-1-clr);
  }

  &__utility {
    max-width: 265px;
    padding-left: 48px;
    padding-right: 100px;
  }

  &__utility-heading {
    padding-bottom: 48px;
  }

  &__utility-pages {
    display: flex;
    flex-direction: column;
  }

  &__pages {
    padding-bottom: 24px;
  }
}

.copyright {
  max-width: 100%;
  border-top: 1px solid var(--grey-3-clr);

  &__end {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
