:root {
  --body-clr: #274c5b;
  --primary-clr: #7eb693;
  --secondary-clr: #ffa858;
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Yellowtail", sans-serif;
  --white-clr: #ffffff;
  --grey-1-clr: #f7f7f7;
  --grey-2-clr: #f1f1f1;
  --grey-3-clr: #d4d4d4;
  --grey-4-clr: #b8b8b8;
  --grey-5-clr: #525c60;
}
