:root {
    --body-clr: #274C5B;
    --primary-clr: #7EB693;
    --secondary-clr: #FFA858;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Yellowtail', sans-serif;
    --white-clr: #FFFFFF;
    --grey-1-clr: #F7F7F7;
    --grey-2-clr: #F1F1F1;
    --grey-3-clr: #D4D4D4;
    --grey-4-clr: #B8B8B8;
    --grey-5-clr: #525C60;
  }
  